* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

#outcome, 
#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 1px solid black;
    height: 100px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: royalblue;
}

.user.score.container, 
.computer.score.container,
.round-number {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 20px;
    justify-content: space-between;
}

.user.score.container, 
.computer.score.container p {
    color: whitesmoke;
}

p {
    font-weight: 100;
}

.container {
    padding: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

button {
    margin: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.outcome.text {
    font-size: 28px;
    color: white;
}

.computer.choice.container,
.user.choice.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    gap: 20px;
}

.container.score.outcome {
    display: flex;
}

img {
    height: 50px;
    width: 50px;
    align-self: center;
}