body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#outcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 1px solid black;
    height: 100px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: royalblue;
}

p {
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    padding: 50px;
    margin: 10px;
    /* display: flex; */
}

h3 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.choice.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 100px;
  
}

button {
    margin: 30px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.outcome.text {
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}